body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background-color:blanchedalmond;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;

}

.menu-tab{
 font-size: 1rem;
 color: blue;
 display: flex;
 justify-content: space-between;
 font-family: verdana;
text-decoration: none;
padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #e2a93f;
  color: #4b4b4b;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 3px #865803;
  outline: none;
}


